/* Webfont: EasyReadingPROAncientGreek */@font-face {
    font-family: 'EasyReadingPROAncientGreek';
    src: url('EasyReadingPROAncientGreek.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROAncientGreek.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROAncientGreek.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROAncientGreek.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

