/* Webfont: EasyReadingPROAncientGreek-Ital */@font-face {
    font-family: 'EasyReadingPROAncientGreek';
    src: url('EasyReadingPROAncientGreekIt.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROAncientGreekIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROAncientGreekIt.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROAncientGreekIt.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

