/* Webfont: EasyReadingPROXB */@font-face {
    font-family: 'EasyReadingPROXB';
    src: url('EasyReadingPROXB.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROXB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROXB.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROXB.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

