/* Webfont: EasyReadingPROXB-Black */@font-face {
    font-family: 'EasyReadingPROXB';
    src: url('EasyReadingPROXBBlack.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROXBBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROXBBlack.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROXBBlack.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

