/* Webfont: EasyReadingPRO-Italic */@font-face {
    font-family: 'EasyReadingPRO';
    src: url('EasyReadingPROItalic.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROItalic.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

