/* Webfont: EasyReadingPRO-Bold */@font-face {
    font-family: 'EasyReadingPRO';
    src: url('EasyReadingPROBold.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROBold.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROBold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

