/* Webfont: EasyReadingPRO-BoldItalic */@font-face {
    font-family: 'EasyReadingPRO';
    src: url('EasyReadingPROBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPROBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPROBoldItalic.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPROBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

