/* Webfont: EasyReadingPRO */@font-face {
    font-family: 'EasyReadingPRO';
    src: url('EasyReadingPRO.eot'); /* IE9 Compat Modes */
    src: url('EasyReadingPRO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EasyReadingPRO.woff') format('woff'), /* Modern Browsers */
         url('EasyReadingPRO.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

